<h1>Editing investment</h1>

<%= render "form", investment: @investment %>

<br>

<div>
  <%= link_to "Show this investment", @investment %> |
  <%= link_to "Back to investments", investments_path %>
</div>
