<div>
  <br />
<br />
<br />
<br />
<div class="text-center">
  <h2>Your payment is successfully initiated!</h2>
  <p>
    Thank you for expressing interest in this project. You will receive a payment request in your email and also status updates on the project via SMS after successful completion of payment.
  </p>
  <a href="https://sandbox.chimoney.io/pay/?issueID=NNz069BjktYFxIpXlCBk2D7eGG72_5_1695981402033">Payment Link</a>

</div>
<br />
<br />
<hr />
<br />
<br />


  <!-- Cost Breakdown -->
  <div class="text-center">
    <h3>Cost Breakdown for This Project</h3>
    <p>Here's a breakdown of where your investment will go:</p>
  </div>

  <!-- Sourcing Chicks -->
  <div class="text-left">
    <h4>Sourcing Chicks</h4>
    <ul>
      <li>We source 1-3-day old chicks and vaccinate them against Marek’s at Ksh. 100.</li>
      <li>A total of 1000 will be bought, and that will cost Sh. 100,000.</li>
    </ul>
  </div>

  <!-- Poultry Feeds -->
  <div class="text-left">
    <h4>Poultry Feeds</h4>
    <ul>
      <li>Chicks are fed on chick mash up to the 8th week, consuming an average of 60 grams per day, with each Kg costing ksh. 50.</li>
      <li>Growers mash will be required, from the 9th week to the 19th week, averaging 90 grams per day, with each Kg priced at ksh. 35.</li>
      <li>Additionally, layers mash is required, and it's fed from the 18th week to the 72nd week, with an average daily consumption of 140 grams per day. Each kg retails at kshs 42.</li>
    </ul>
  </div>

  <!-- Veterinary Costs -->
  <div class="text-left">
    <h4>Veterinary Costs</h4>
    <p>Vaccination of the chicks against chicken diseases like Gumboro will be done. It will be done against: Gumboro 1st dose, Gumboro 2nd dose, Newcastle 1st dose, Newcastle 2nd dose, Fowl typhoid, Deworming, and Vitamins.</p>
  </div>

  <!-- Poultry Equipment -->
  <div class="text-left">
    <h4>Poultry Equipment</h4>
    <ul>
      <li>Equipment such as feeders and drinkers will be required. 1.5 kg feeders/waterers retail at kshs 150, and each 10 kg feeders/waterers retail at kshs 700.</li>
      <li>Chicken cages for 128 birds retail at kshs 30,000.</li>
    </ul>
  </div>




</div>

<!-- Expected Revenue and Share Table -->
<div class="text-center">
  <h3>Expected Revenue and Share</h3>
  <p>After 75 weeks, here's what you can expect:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Expected Revenue</th>
        <th>Your Share</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ksh. 150,000</td>
        <td>70%</td>
      </tr>
    </tbody>
  </table>
</div>
