<footer class="footer" style="background-color: teal;">
  <div class="container">
    <div class="row footer-con">
      <div class="col-md-3">
        <h1 class="nav-logo">Agric_Invest</h1>
        <p class="footer-cat">Welcome to Agriculture Investment platform.</p>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Investments</h5>
        <p class="footer-cat">Poultry</p>
        <p class="footer-cat">Farming</p>
        <p class="footer-cat">Pig rearing</p>
        <p class="footer-cat">Farming</p>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Sitemap</h5>
        <p class="footer-cat">Products</p>
        <p class="footer-cat">Services</p>
        <p class="footer-cat">Articles</p>
        <p class="footer-cat">About Us</p>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Follow Us</h5>
        <p class="footer-cat">Facebook</p>
        <p class="footer-cat">Instagram</p>
        <p class="footer-cat">TikTok</p>
        <p class="footer-cat">YouTube</p>
      </div>
    </div>
    <hr style="border-color: #fff;">
    <p class="text-center">&copy; <%= Time.current.year %> Agric_Invest App. All rights reserved.</p>
  </div>
</footer>