<h1 class="text-center">Transaction Form Details</h1>
<p>Input details to initiate payment request via Chimoney and start getting SMS updates </p>
<%= render "form", transaction: @transaction %>

<br>

